.main_container {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.main_button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
}
.subContainer {
  border: 1px solid black;
  padding: 40px;
}
